<div class="container">
  <div class="wrapper">
    <div class="header">
      <button class="back" (click)="logoutUser()">Logout</button>
      <h2>Lista de usuarios</h2>
    </div>
    <div class="inner-container">
      <label>Seleccione el mes: </label>
      <select [(ngModel)]="selectedMonth">
        <option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </option>
      </select>
      <button class="btn btn-primary" (click)="generateReport()">
        Generar
      </button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>No de Transacciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.transactionCount }}</td>
          </tr>
          <span class="info" *ngIf="users.length == 0"
            >No se han encontrado registros...</span
          >
        </tbody>
      </table>
    </div>
  </div>
</div>
