<div class="container">
  <div class="wrapper">
    <a class="back" routerLink="/user/detail">Volver</a>
    <div class="inner-container">
      <label>Seleccione el mes: </label>
      <select [(ngModel)]="selectedMonth">
        <option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </option>
      </select>
      <button class="btn btn-primary" (click)="generateReport()">
        Generar
      </button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ transaction.type | transactionType }}</td>
            <td>{{ transaction.amount | currency }}</td>
          </tr>
          <span class="info" *ngIf="transactions.length == 0"
            >No se han encontrado registros...</span
          >
        </tbody>
      </table>
    </div>
  </div>
</div>
